/.idea/.name
/.idea/CarND-Advanced-Lane-Lines.iml
/.idea/dictionaries/milutin.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/__pycache__/calibrate.cpython-35.pyc
/__pycache__/settings.cpython-35.pyc
.idea
test_images/
*.pyc
camera_cal/*
output_images/*
output_videos/*
test_images/*
*.mov
lane_finder.py
*.png
*.mp4
!camera_cal/*.jpg
